/Pokemon.class
/PokemonData$Fighting.class
/PokemonData$Fire.class
/PokemonData$Steel.class
/PokemonData$Water.class
/PokemonData.class
/PokemonData$Grass.class
/PokemonData$Bug.class
/PokemonData$Electric.class
/PokemonData$Ghost.class
/PokemonData$Normal.class
