/Moves.class
/Moves$Bug.class
/Moves$Dark.class
/Moves$Electric.class
/Moves$Fighting.class
/Moves$Fire.class
/Moves$Grass.class
/Moves$Ground.class
/Moves$Ice.class
/Moves$Psychic.class
/Moves$Steel.class
/Moves$Water.class
/Moves$Dragon.class
/Moves$Fairy.class
/Moves$Flying.class
/Moves$Ghost.class
/Moves$Normal.class
/Moves$Poison.class
/Moves$Rock.class
/Moves$Ultimate.class
